@import "variables";

a {
  text-decoration: none;
}

//Padding
@media only screen and (max-width: $lg-desktop) {
  .px-20 {
    padding: 0 20px;
  }
}

.mx-auto {
  margin: 0 auto;
}

.mt-20 {
  margin-top: 20px;
}

//Error
.error-message {
  color: $color-error;
}